/*******************************
* Title����¼ҳ����ʽ
* Update��2009-3-15
********************************/

/*ҳ�汳����ʽ*/
.loginPageBg
{
	background-image:url("../Images/login_bg.gif");
	text-align:center;
}

/*��¼���ڱ�����ʽ*/
.loginWinBg
{
	position:relative;
	width: 563px;
	height: 150px;
	

	width: 563px\9;
	height: 331px\9;
	
	width: 563px\0;
	height: 150px\0;
	
	text-align:left;
	background-image: url("../Images/login_win_bg.gif");
	margin:auto;
	margin-top:15%;
	padding-top: 180px;
}
