vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2009 02:31:54 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{5DB81296-348C-496B-AA76-45FB1A809147}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|26 Jun 2009 02:31:54 -0000
vti_filesize:IR|4826
vti_cachedlinkinfo:VX|S|img.gif S|img.gif S|img.gif S|img.gif S|bg.jpg S|img.gif S|img.gif S|img.gif
vti_cachedsvcrellinks:VX|FSUS|WebSys/DatePicker/skin/whyGreen/img.gif FSUS|WebSys/DatePicker/skin/whyGreen/img.gif FSUS|WebSys/DatePicker/skin/whyGreen/img.gif FSUS|WebSys/DatePicker/skin/whyGreen/img.gif FSUS|WebSys/DatePicker/skin/whyGreen/bg.jpg FSUS|WebSys/DatePicker/skin/whyGreen/img.gif FSUS|WebSys/DatePicker/skin/whyGreen/img.gif FSUS|WebSys/DatePicker/skin/whyGreen/img.gif
