vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2009 02:32:04 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{1839D63F-2E78-4CFB-8CDC-9CCB479D6A4D}
vti_backlinkinfo:VX|
vti_cacheddtm:TX|26 Jun 2009 02:32:04 -0000
vti_filesize:IR|4620
vti_cachedlinkinfo:VX|S|img.gif S|img.gif S|img.gif S|img.gif S|img.gif S|img.gif S|img.gif
vti_cachedsvcrellinks:VX|FSUS|WebSys/DatePicker/skin/default/img.gif FSUS|WebSys/DatePicker/skin/default/img.gif FSUS|WebSys/DatePicker/skin/default/img.gif FSUS|WebSys/DatePicker/skin/default/img.gif FSUS|WebSys/DatePicker/skin/default/img.gif FSUS|WebSys/DatePicker/skin/default/img.gif FSUS|WebSys/DatePicker/skin/default/img.gif
